{% load static %}
<nav class="navbar navbar-sm navbar-expand-sm navbar-light bg-light p-0 px-md-4 mb-2 border-bottom shadow-sm">
    <div class="container-fluid">
        <span class="navbar-text">
            <code>{{ title }}</code>
        </span>
        <ul class="navbar-nav d-flex">
            <li class="nav-item">
                <a type="button"
                   class="btn btn-outline-primary btn-sm"
                   href="{{ btn_href }}"
                >{{ btn_text }}</a>
            </li>
        </ul>
    </div>
</nav>
