{% extends 'ledger/base.html' %}

{% block title %}{{ account.name }}{% endblock %}

{% block content %}
    <h3>Карточка по счету: {{ account.name }}</h3>
    <p>Фильтр: от {{ first|date:'d.m.Y' }} до {{ last|date:'d.m.Y' }}</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Счет-корреспондент</th>
                <th scope="col">Приход</th>
                <th scope="col">Расход</th>
            </tr>
            <tr>
                <th scope="row" colspan="2" class="text-right">Начальный остаток:</th>
                <th>{{ begin_balance.arrival }}</th>
                <th>{{ begin_balance.expence }}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in object_list %}
                <tr>
                    <th scope="row">{{ el.accDate|date:'d.m.Y' }}</th>
                    <td>{{ el.corrAcc }}</td>
                    {% if el.arrival != '0' %}
                        <td>{{ el.arrival }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if el.expence != '0' %}
                        <td>{{ el.expence }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="row" colspan="2" class="text-right">Конечный остаток:</th>
                <th>{{ end_balance.arrival }}</th>
                <th>{{ end_balance.expence }}</th>
            </tr>
            <tr>
                <th scope="row" colspan="2" class="text-right">Сальдо по счету:</th>
                <th colspan="2">{{ end_balance.balance }}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
