{% extends 'ledger/base.html' %}

{% block title %}Бухгалтерские проводки{% endblock %}

{% block content %}
    <code>#{{ object.id }}</code>
    <div class="my-2"><h1>{{ object.name }}</h1></div>
    <span class='lead'>{{ object.date }}</span>
    <div>{{ object.lAccount }} =&gt; {{ object.fAccount }}</div>
    {% comment %} Отсюда: https://stackoverflow.com/a/762830 {% endcomment %}
    <div class="body"><code>{{ object.entryType }}</code> {{ object.get_entryType_display }}</div>
    <span class='lead'>{{ object.summ }}</span>
    <div class="mt-4">
        <a class="btn btn-primary" href="/">Список</a>
        <a class="btn btn-primary" href="/entry/edit/{{ object.id }}/">Изменить</a>
    </div>
{% endblock %}
