{% extends 'ledger/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% block title %}Проводки{% endblock %}

{% block content %}
    <h1>Проводки</h1>
    <a class="btn btn-primary" href="{% url 'entry_new' %}">Новая проводка</a>
    {% for el in object_list %}
        {% if el.is_enter %}
            <div class="alert alert-primary mt-2">
        {% else %}
            <div class="alert alert-secondary mt-2">
        {% endif %}
            <h4>{{ el.date }}</h4>
            <p>
                <a class="btn btn-outline-success" href="{% url "entry_det" el.id %}">Детали</a>
                <a class="btn btn-outline-success" href="{% url "entry_edit" el.id %}">Изменить</a>
                {{ el }}
            </p>
        </div>
    {% endfor %}

{% endblock %}
