{% extends 'ledger/base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% block title %}Проводки{% endblock %}

{% block content %}
    <h1>Проводки</h1>
    <a class="btn btn-primary" href="{% url 'ledger_new' %}">Новая проводка</a>
    {% for el in object_list %}
        <div class="alert alert-primary mt-2">
            <h3>{{ el.date }}</h3>
            <p>{{ el }}</p>
            <a class="btn btn-primary-outline" href="entry/{{ el.id }}">Изменить</a>
        </div>
    {% endfor %}

{% endblock %}
