body {
    font-family: var(--bs-font-sans-serif);
    font-weight: 200;
}

table {
    font-family: var(--bs-font-monospace);
    font-size: 0.95rem;
    line-height: 1;
}

.ledger-table-amount {
    text-align: right;
}

.ledger-table-th {
    text-align: center;
}

.ledger-table-total-text {
    text-align: left;
}

.ledger-table-number {
    text-align: center;
}

.ledger-table-text {
    text-align: left;
    font-family: var(--bs-font-sans-serif);
}

.ledger-table-type {
    text-align: center;
    font-family: var(--bs-font-sans-serif);
}

.ledger-table-date {
    text-align: center;
    font-family: var(--bs-font-sans-serif);
}

.bk-comment, .ledger-table-comment {
    text-align: left;
    font-family: var(--bs-font-sans-serif);
    font-size: 0.92em;
    color: darkseagreen;
}

.ledger-table-account-cart,
.ledger-table-account-balance,
.ledger-table-account,
.ledger-table-entry,
.ledger-cart {
    width: 50%;
}

.ledger-cart-info {
    width: 17%;
}

.ledger-btn {
    width: 10%;
}

span.strong {
    font-weight: bolder;
    color: black;
}

span.incline {
    font-style: italic;
}

span.entity {
    font-weight: bolder;
    font-size: 0.9rem;
    color: blue;
}

.bk-table > .row > .col-lg, .bk-table > .row > [class^="col-lg"], .bk-table > .row > .bk-tbl-header {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.bk-table > .row > .col-lg, .bk-table > .row > [class^="col-lg"] {
    border: solid #eee;
    border-width: 1px 1px 0px 0px;
    line-height: 1;
}

.bk-table > .row {
    border: solid #eee;
    border-width: 0px 0px 0px 1px;
}

.bk-tbl-header {
    background-color: #d1e7dd;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
}

.bk-row1 {
    background-color: rgba(0, 0, 0, 0.03);
}
/*
.bk-table .bk-row2 {
}
*/
