{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{{ block.super }}{% endblock %}

{% block content %}
<h3 class="text-center">Система управленческого учета "Балукаа"</h3>

<div class="d-flex flex-row justify-content-center mt-4">
    <div class="card text-center ledger-cart-info">
        <div class="card-body">
            <code class="card-text">Балу</code>
            <p class="card-text">мощь</p>
        </div>
        <img class="p-4" src="{% static 'balukaa/images/balu.svg' %}" width="100%">
    </div>
    <div class="card text-center ledger-cart-info mx-3">
        <div class="card-body">
            <code class="card-text">Каа</code>
            <p class="card-text">гибкость</p>
        </div>
        <img class="p-4" src="{% static 'balukaa/images/kaa.svg' %}" width="100%">
    </div>
</div>

<div class="container mt-4">
    <dl>
        <dt>Цель проекта:</dt>
        <dd>Создать систему управленческого учета, объединив принцип двойной записи бухгалтерии с принципом регистров оперативно-аналитического учета.</dd>
        <dd>Что позволяет после проведения учетной операции сразу видеть ее результат и влияние на состояние активов, источников баланса предприятия в целом, и при этом гибко и легко получать всю необходимую для оперативного управления аналитику.</dd>
        <dd>Что на новом технологическом уровне создает инструмент учета, который позволяет управляющим управлять.</dd>
        <dd>Как это и было во времена <code>Фра Лука Бартоломео де Пачоли</code> основателя управленческого бухгалтерского учета.</dd>

        <dt>Замысел воплощения:</dt>
        <dd>Учет вести от операций, которые при проведении формируют записи журнала проводок в обобщенном по-операционном виде, одновременно заполнять достаточно подробными записями деталей операций регистры оперативно-аналитического учета</dd>
        <dd>Каждому счету бухгалтерии сопоставить свой регистр, тем самым аналитику по счетам в любых разрезах учитывать и получать напрямую из регистров, отказавшись от негибкой системы аналитических подсчетов, перенесенной в современные учетные системы из бумажных гроссбухов.</dd>
    </dl>
</div>
{% endblock %}