{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{{ block.super }}{% endblock %}
{% block content %}
<div class="container bk-table">
{# ------- ЛОКАЛЬНОЕ МЕНЮ ------- #}
{% include 'ledger/includes/_nav_table.html' %}
{# ------- ОТОБРАЖЕНИЕ ЖУРНАЛА ------- #}
{% if todos %}
    {# ------- ЗАГОЛОВОК ТАБЛИЦЫ ------- #}
    <div class="row bk-tbl-header">
        <div class="col-lg-auto" title="Состояние задачи">
            <img src="{% static 'balukaa/images/toggle-on.svg' %}">
        </div>
        <div class="col-lg-1">Дата</div>
        <div class="col-lg-2">Задача</div>
        <div class="col-lg-4">Описание</div>
        <div class="col-lg">Комментарий</div>
        <div class="col-lg-1" title="Разработчик">
            <img src="{% static 'balukaa/images/people-fill.svg' %}">
        </div>
    </div>
    {% for todo in todos reversed %}
    {# ------- ТЕЛО ТАБЛИЦЫ ------- #}
    <div class="row {% cycle 'bk-row1' 'bk-row2' %}">
        <div class="col-lg-auto" data-toggle="tooltip" data-placement="right" title="{{ todo.get_status_display }}">
            {% if todo.status %}<img src="{% static 'balukaa/images/toggle-on.svg' %}">
            {% else %}<img src="{% static 'balukaa/images/toggle-off.svg' %}">
            {% endif %}
        </div>
        <div class="col-lg-1">{{ todo.date_range_map|safe }}</div>
        <div class="col-lg-2">{{ todo.task_map|safe }}</div>
        <div class="col-lg-4">{{ todo.description_map|safe }}</div>
        <div class="col-lg bk-comment">{{ todo.comment_map|safe }}</div>
        <div class="col-lg-1 bk-comment">{{ todo.creator_map|safe }}</div>
    </div>
    {% endfor %}
{% else %}
    {# ------- СООБЩЕНИЕ, ЕСЛИ НЕТ ЗАПИСЕЙ ------- #}
    {% include 'includes/_cart_info.html' %}
{% endif %}
</div>
{% endblock %}
